# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.coverage
.envrc
.project
.idea
.venv/
.bin/**

**/.DS_Store
**/*.egg-info
.mypy_cache

venv/**
build/**
dist/**
node_modules/**
cspell.json

.env
.DS_Store
.vscode
sandbox.py

slack_data/**

deploy_key
deploy_key.pub
